@model alexdodd.net.Models.EmailSignUp

@if (Model != null)
{
    <p>I'm still in the process of putting this site together, but you'll soon be able to look at some of the cool things I have made, as well as tutorials and a blog.</p>
    <p>If you enter your email address below I'll be able to let you know when it's finished!</p>
    using (Html.BeginForm("SignUp", "Home"))
    {
        @Html.AntiForgeryToken()
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @placeholder = "your@email.com", @autofocus = true } })
    
        <input type="submit" value="Sign up" />

        @Html.ValidationSummary(true, "That... doesn't look like an email address. Try adding an '@' or two", new { @class = "text-danger" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    }
}
